/*
 * @Author: XueYu 😊
 * @Date: 2019-01-15 13:50:30
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-01-17 14:15:59
 */
.cardWiget {
  margin-right: 5px;
}
.settingContent {
  text-align: center;
}
.settingContentTitle {
  border-bottom: 1px dotted #000;
  &:hover {
    cursor: help;
    background-color: rgba(82,179,112,0.25);
  }
}
/* antd */
:global(.ant-card){
  height: 100%;
  display: flex;
  flex-direction: column;
}
:global(.ant-card-head){
  cursor: move;
  min-height: 30px;
  height: 30px;
  background-color: #eee;
  padding: 0 0 0 5px;
}
:global(.ant-card-head-wrapper){
  height: 100%;
}
:global(.ant-card-head-title){
  padding: 0;
  font-size: 14px;
}
:global(.ant-card-extra){
  padding: 0;
  font-size: 14px;
}
:global(.ant-card-body){
  flex: 1;
  padding: 5px;
  overflow: auto;
}
:global(.ant-tooltip){
  max-width: max-content;
}