/*
 * @Author: XueYu 😊
 * @Date: 2019-01-11 18:11:23
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-01-11 21:10:55
 */
.instrumentSelector {
  background-color: #eee;
}
.head {
  line-height: initial;
}
.content {
  height: 30px;
  background-color: #fff;
}
.tipbox {
  padding-left: 6px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #c0d2df;
  &:hover {
    background-color: rgba(82, 179, 112, 0.25);
  }
}