/*
 * @Author: XueYu 😊
 * @Date: 2019-01-11 18:11:23
 * @Last Modified by: XueYu 😊
 * @Last Modified time: 2019-01-18 15:14:16
 */
@import '../../global.color.less';

.instrumentSelector {
  padding: 0 10px 0;
  width: 100%;
  // background-color: #eee;
}
.head {
  line-height: initial;
}
.content {
  padding: 2px 5px;
  height: 30px;
  background-color: #fff;
}
.tipbox {
  padding-left: 6px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: @blue-2;
  &:hover {
    background-color: rgba(82, 179, 112, 0.25);
  }
}
.expiries {

}
.btn {
  border: 1px solid transparent;
  padding: 3px 8px;
}
.square {
  border: 1px solid #eee;
}
.round {
  border-radius: 100%;
}
.description {
  font-weight: bolder;
}
.priceWidget {
  background-color: #eee;
  padding: 0 2px;
  margin-left: 4px;
}
.dot {
  width: 7px;
  height: 7px;
  line-height: 1;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  top: -0.5px;
  margin-right: 4px;
  background-color: #0d0d0d;
}
.up {
  color: @up-red;
}
.down {
  color: @down-green;
}
/* antd */
:global(.tradeTopTabs .ant-tabs){
  box-shadow: 2px 2px 2px -1px black;
  outline: 1px solid #888;
}
:global(.tradeTopTabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container) {
  height: 42px;
}
:global(.tradeTopTabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab){
  border-radius: 0;
  position: relative;
  padding-top: 5px;
  &::before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0;
  }
}
:global(.tradeTopTabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active){
  color: #000;
  font-weight: bolder;
  &::before {
    background-color: #4ab0ce;
  }
}
:global(.tradeTopTabs .ant-tabs-nav .ant-tabs-tab:hover) {
  text-decoration: underline;
  color: #000;
}
:global(.tradeTopTabs .ant-tabs-nav-container){
  border: none;
}